p{
	color:#F1C40F;
}

h1 {
	top: 5px;
}

body h1 {
	margin-top: 1em;
    border: 8px #283747;
	border-bottom-style: dashed;
    border-left-style: double;
	border-right-style: double;
    border-color: #95A5A6;
	text-align: center;
}

body p {
	font-family: "Bradley Hand ITC", Times, serif;
	font-size: 22px;
}

body h1 {
	color: #85C1E9;
    text-shadow: 1px 1px 10px black, 0 0 25px #34496E, 0 0 70px #283747;
	font-family: "Bauhaus 93", Times, serif;
	font-size: 48px;
}

body h2 {
	font-family: "Castellar", Times, serif;
	font-size: 28px;
}

p#changecolor a {
	color: white;
}


body{
	background-color:#566573; 
	margin-left:7%;
	margin-right:7%;
	margin-top:3%;
	margin-bottom:5%;
}




nav#first ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	left: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav#first ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	left: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav#first ul li {
    float: left;
}

nav#first ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav#first ul li a:hover {
    background-color: #111;
}



nav#second ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #5D6D7E;
    margin-top: 4em;
}

nav#second ul li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

nav#second ul li a  {
    background-color: #333;
    color: white;
}
nav#second ul li a:hover {
    background-color: #111;
}


